<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GoGoPowerRangers.ENET.Data.Properties.Settings.ENETConnectionString"
            connectionString="Data Source=enet.database.windows.net;Initial Catalog=ENET;User ID=luke;Password=Enterprise1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>